Checks:
  -*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-prefer-member-initializer,
  -modernize-macro-to-enum,
  -clang-analyzer-security.insecureAPI.strcpy
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
  -readability-named-parameter
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-braces-around-statements
  -readability-uppercase-literal-suffix
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg
  -readability-convert-member-functions-to-static
  ## -readability-identifier-naming,
  ## -performance-enum-size,
  ## -performance-move-constructor-init,
  ## -performance-no-int-to-ptr,
  ## -modernize-redundant-void-arg,
  ## -readability-uppercase-literal-suffix,
  ## -readability-implicit-bool-conversion,

CheckOptions:
  - key: readability-function-size.ParameterThreshold
    value: 5
