# ? valgrind
vgcore.*

# ? obj
*.o

# ? lib
*.a

# ? executable
*.out
unit_tests
zappy_gui
zappy_ai
zappy_server
test_zappy_server
server_source/

# ? coverage
*.gcda
*.gcno
*.gcov

# ? tmp
*~
\#*#

# ? vscode
.vscode/

# ? compilation database
compile_commands.json
compile_commands.events.json
coding-style-reports.log
