# ? valgrind
vgcore.*

# ? obj
*.o

# ? lib
*.a

# ? executable
*.out
unit_tests
zappy_gui
zappy_ai
zappy_server

# ? coverage
*.gcda
*.gcno
*.gcov

# ? tmp
*~
\#*#

# ? vscode
.vscode/

# ? compilation database
compile_commands.json

coding-style-reports.log
